<aside id="sidebar">

  
  <div style="height:30%; gap:1rem;justify-content:start;" class="container flex-vertical">

    {% if user %}
    <div class="user-info">
      <img
      {% if not user.avatarPath %}
        style="opacity:0;"
      {% endif %}
      src="{{ user.avatarPath }}" class="avatar" >
      <h3>{{ user.name }}</h3>
      <p>{{ user.email }}</p>
      <div class="session-card" style="flex-direction:row; width:80%;justify-content:space-between;">
        <p style="font-weight:bold;">{{traduction('jetons')}} : </p>
        <p>{{ userModel.getBalance(user.id) }}</p>
      </div>
      <div style="width:80%;border:2px solid red;border-radius:5px;padding:3px;margin-top:-25px;font-size:0.8em;color:#666;font-weight:bold;">
        <div style="display:flex;justify-content:space-between;margin-bottom:2px;">
          <span>Prix cours : </span>
          <span>25</span>
        </div>
        <div style="display:flex;justify-content:space-between;">
          <span>Gain échange : </span>
          <span>40</span>
        </div>
      </div>
      <a href="/logout" class="form-button dark-grey-bg">{{traduction('logout')}}</a>
    </div>
    {% else %}
    <div class="login-buttons">
      <a href="/login" class="form-button green-bg">{{traduction('login')}}</a>
      <a href="/register" class="form-button dark-grey-bg">{{traduction('register')}}</a>
    </div>
    {% endif %}

  </div>
  <div style="height:65%;overflow-Y:auto;" class="container bottom-sidebar">

  <h3 style="font-weight:bold;text-align:center;margin-bottom:1rem;">{{traduction('sessionAvenir')}}</h3>

{% if userSessions is empty %}
<p>pas de sessions a venir</p>
{% else %}

<!-- échanges -->


        {% for session in userSessions['partage'] %}
            {% include 'components/exchangeCard.html.twig' with {
                'avatar_path': session.requester_avatar is not empty ? session.requester_avatar : '',
                'userName': session.requester_first_name ~ ' ' ~ session.requester_last_name,
                'categoryLearned': categoriesIndexed[session.skill_taught_category_id] is defined ? categoriesIndexed[session.skill_taught_category_id][1] : '',
                'skillLearned': session.skill_taught_name is not empty ? session.skill_taught_name : '',
                'categoryWanted': categoriesIndexed[session.skill_requested_category_id] is defined ? categoriesIndexed[session.skill_requested_category_id][1] : '',
                'skillWanted': session.skill_requested_name is not empty ? session.skill_requested_name : '',
                'sidebar' : true,
                'dateDebut': session.date_session ,
                'startTime': session.start_time,
                'endTime': session.end_time,

            } %}
        {% endfor %}


        {% for session in userSessions['cours'] %}
            {% include 'components/lessonCard.html.twig' with {
                'avatar_path': session.host_avatar is not empty ? session.host_avatar : '',
                'userName': session.host_first_name ~ ' ' ~ session.host_last_name,
                'categoryLearned': categoriesIndexed[session.skill_taught_id] is defined ? categoriesIndexed[session.skill_taught_id][1] : '',
                'skillLearned': session.skill_taught_name is not empty ? session.skill_taught_name : '',
                'adresse': session.full_address is not empty ? session.full_address : '',
                'date': session.date_session ~ ', ' ~ session.start_time|date('H:i'),
                'sidebar' : true,
                'ownLesson' : session.lesson_host_id == user.id,
                'dateDebut': session.date_session,
                'startTime': session.start_time,
                'endTime': session.end_time,
            } %}
        {% endfor %}

{% endif %}




  </div>



</aside>
<div id="sidebar-overlay"
    onclick="
        let sidebarEl = document.getElementById('sidebar').classList.toggle('open');
        "
></div>
