{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<section class="login-container">

  <div id="section-login">
    <h1 class="page-title">{{traduction('login')}}</h1>
    
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}

    <form class="form-login" action="/login" method="POST">
      <div style="margin-top:3rem;" class="vertical-display">
        <div class="input-label-display">
          <label for="email">{{traduction('email')}}</label>
          <input class="input-goofy" type="email" id="email" name="email" placeholder="{{traduction('enterEmail')}}" required>
        </div>

        <div class="input-label-display">
          <label for="password">{{traduction('password')}}</label>
          <input class="input-goofy" type="password" id="password" name="password" placeholder="{{traduction('enterPassword')}}" required>
        </div>

        <div class="horizontal-display">
          <button class="form-button green-bg" type="submit" class="btn-submit">{{traduction('login')}}</button>
        </div>

        <div class="create-account-prompt">
          <p  ><a href="/register">{{traduction('createAccount')}}</a></p>
        </div>

      </div>

    </form>

  </div>

</section>


{% endblock %}
